@using acmManager.Web.Startup
@{
    ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
}
@section scripts
{
    <environment names="Development">
    </environment>

    <environment names="Staging,Production">
    </environment>
}

<div class="row">
    <div class="col">
        <div class="content-container">
            @Html.ActionLink("Certificate", "Index", "Certificate")
        </div>
    </div>
    <div class="col">
        <div class="content-container">
            jalksdjlkasjdlkajsdkl
            <p> kasjlkajsdlk</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="content-container"> jaslkdj </div>
    </div>
</div>
