@using acmManager.Web.Models.Shared
@using acmManager.Problem
@using acmManager.Certificate
@using acmManager.Problem.Dto
@inject ProblemAppService ProblemAppService
@inject CertificateAppService CertificateAppService


@section scripts
{
    @await Html.PartialAsync("Template/Chart/_ChartScripts")
}

@section styles
{
    @await Html.PartialAsync("Template/Chart/_ChartStyles")
}

@{
    var allSolutions = await ProblemAppService.GetAllSolutionWithFilter(new GetAllSolutionFilter
    {
        MaxResultCount = int.MaxValue,
        SkipCount = 0
    });
    
    var chartData = new ChartViewModel
    {
        ProblemTypes = await ProblemAppService.GetAllProblemTypes(),
        ProblemSolutions = allSolutions.Solutions,
        Certificates = await CertificateAppService.GetAllCertificateSummary()
    };

    const int nTake = 20;

    var newestSolution = allSolutions.Solutions
        .OrderByDescending(s => s.CreationTime)
        .Take(nTake);
}

<div class="row">
    <div class="col-lg-6">
        <div class="content-container">
            <h3 class="noSelect"> 最新提交的题解 </h3><hr/>
            @await Html.PartialAsync("Template/_SolutionTable", new SolutionTableViewModel
            {
                Solutions = new GetAllSolutionOutput
                {
                    Solutions = newestSolution,
                    AllResultCount = nTake 
                },
                Filter = null,
                Search = false
            })
        </div>
    </div>

    <div class="col-lg-6">
        <div class="content-container">
            <h3 class="noSelect"> 全站数据统计 </h3><hr/>
            @await Html.PartialAsync("Template/Chart/_Chart", chartData)
        </div>
    </div>
</div>
