@model acmManager.Web.Models.Admin.UserProfileViewModel
<form method="post" asp-action="ResetPassword" id="reset-password-form">
    <input type="hidden" name="UserId" value="@Model.UserId">

    <div class="form-group">
        <label for="reset-password-new">New Password</label>
        <input class="form-control" type="password" name="NewPassword" id="reset-password-new" placeholder="New Password">
    </div>
    <div class="form-group">
        <label for="reset-password-new">New Password Again</label>
        <input class="form-control" type="password" name="NewPasswordAgain" id="reset-password-new-again" placeholder="New Password">
    </div>
    <hr/>
    <div class="row mt-3">
        <div class="col-10">
            <div class="alert alert-danger" style="display: none" id="reset-password-error"></div>
            <div class="alert alert-success" style="display: none" id="reset-password-success"> Success </div>
        </div>
        <div class="col-2" style="text-align: right">
            <button class="btn btn-style-1 btn-primary" type="button" id="reset-password-btn">Submit</button>
        </div>
    </div>
</form>
