@using acmManager.Authorization
@{
    var canResetPassword = IsGranted(PermissionNames.PagesUsers_Update);
    var canManageCertificate = IsGranted(PermissionNames.PagesUsers_Certificate_GetAll);
}
<div class="mt-5">
    <div class="row">
        <div class="col-lg-3 pb-5 userCard">
            @await Html.PartialAsync("User/ProfilePartial/_Photo")
            <!-- Account Sidebar-->
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active" href="#profile-profile" data-toggle="pill">
                        <img src="~/img/profile.svg" alt=""> 个人资料
                    </a>
                    @if (canManageCertificate)
                    {
                        <a class="list-group-item" href="#profile-certificate" data-toggle="pill">
                            <img src="~/img/certificate.svg" alt=""> 证书统计
                        </a>
                    }
                    <a class="list-group-item" href="#profile-settings" data-toggle="pill">
                        <img src="~/img/settings.svg" alt=""> 账户设置
                    </a>
                    @if (canResetPassword)
                    {
                        <a class="list-group-item" href="#profile-change-password" data-toggle="pill">
                            <img src="~/img/edit.svg" alt=""> 重置密码
                        </a>
                    }
                </nav>
            </div>
        </div>
        <div class="col-lg-9 pb-5 tab-content">
            <!-- Profile -->
            <div class="tab-pane fade show active" id="profile-profile">
                @await Html.PartialAsync("User/ProfilePartial/_Profile")
            </div>

            @if (canManageCertificate)
            {
                <div class="tab-pane fade show" id="profile-certificate">
                    @await Html.PartialAsync("User/ProfilePartial/_Certificate")
                </div>
            }

            <!-- Settings -->
            <div class="tab-pane fade" id="profile-settings">
                @await Html.PartialAsync("User/ProfilePartial/_Settings")
            </div>

            @if (canResetPassword)
            {
                <!-- Reset Password-->
                <div class="tab-pane fade" id="profile-change-password">
                    @await Html.PartialAsync("User/ProfilePartial/_ResetPassword")
                </div>
            }
        </div>
    </div>
</div>
