@model acmManager.Web.Models.Admin.UserProfileViewModel

@section styles
{
    <environment include="Development">
        <link href="~/view-resources/Views/Users/Profile.css" rel="stylesheet"/>
        <link href="~/view-resources/Views/Admin/Admin.css" rel="stylesheet"/>
        <link href="~/view-resources/Views/Certificate/Certificate.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <link href="~/view-resources/Views/_Bundles/admin.profile.min.css" rel="stylesheet"/>
    </environment>
}

@section scripts
{
    <environment include="Development">
        <script src="~/view-resources/Views/Admin/Profile.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/view-resources/Views/_Bundles/admin.profile.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "User Profile";
}

<div class="content-container">
    @await Html.PartialAsync("User/ProfilePartial/_Sidebar")
</div>
