﻿@model acmManager.Web.Models.Admin.UserProfileViewModel

@section styles
{
    <environment name="Development">
        <link href="~/view-resources/Views/Users/Profile.css" rel="stylesheet"/>
        <link href="~/view-resources/Views/Admin/Admin.css" rel="stylesheet"/>
        <link href="~/view-resources/Views/Certificate/Certificate.css" rel="stylesheet"/>
    </environment>
}
@section scripts
{
    <environment name="Development">
        <script src="~/view-resources/Views/Admin/Profile.js"></script>
    </environment>
}

<div class="content-container">
    @await Html.PartialAsync("User/ProfilePartial/_Sidebar")
</div>
