﻿@using acmManager.Users.Dto
@model acmManager.Web.Models.Admin.IndexViewModel

<div class="overflow-auto mt-3">
    <table class="table table-hover" id="get-all-user-table">
        <thead><tr>
            <td><input type="checkbox" class="user-promote-checkbox-select-all"></td>
            <th scope="col">@L("UserInfo.StudentNumber")</th>
            <th scope="col">@L("UserInfo.Name")</th>
            <th scope="col">@L("UserInfo.Gender")</th>
            <th scope="col">@L("UserInfo.Org")</th>
            <th scope="col">@L("UserInfo.Major")</th>
            <th scope="col" style="text-align: center;">详细</th>
        </tr></thead>
        <tbody>

        @foreach (var userInfo in Model.Users.Users ?? new List<UserDto>())
        {
            <tr>
                <td><input type="checkbox" class="user-promote-checkbox" id="user-promote-user-@userInfo.UserId"></td>
                <th scope="row">@(userInfo.StudentNumber ?? "null")</th>
                <td>@(userInfo.Name ?? "null")</td>
                <td>@L(userInfo.Gender.ToString())</td>
                <td>@(userInfo.Org ?? "null")</td>
                <td>@(userInfo.Major ?? "null")</td>
                <td><button class="btn btn-block" onclick="location.href = '@Url.Action("GetUserProfile")?userId=@userInfo.UserId'">
                    <img src="~/img/more.svg" alt="" style="max-width: 18px"/>
                </button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@* submit btn *@
<div class="collapse" id="user-promote-form-submit-collapse"><div class="text-right"><hr/>
    <button class="btn btn-success" id="user-promote-form-submit-btn">转为正式成员</button>
</div></div>

@* submit *@
<form asp-action="UserPromote" method="post" id="user-promote-form" style="display: none"> </form>

<hr/>
@* Pagination *@
@await Html.PartialAsync("_Pagination")

