﻿@model acmManager.Web.Models.Contest.ContestSignUpListViewModel

@section scripts
{
    <script src="~/view-resources/Views/Contest/ContestSignUpExport.js"></script>
}

<div class="content-container">
    <table class="table table-hover mt-3 text-center" id="certificate-table">
        <thead><tr>
            <th scope="col">@L("UserInfo.Name")</th>
            <th scope="col">@L("UserInfo.Gender")</th>
            <th scope="col">@L("UserInfo.StudentNumber")</th>
            <th scope="col">@L("UserInfo.Org")</th>
            <th scope="col">@L("Password")</th>
        </tr></thead>
        <tbody>
        @foreach (var su in Model.SignUps)
        {
            <tr class="">
                <th scope="row">@su.Name </th>
                <td>@L(su.Gender.ToString())</td>
                <td style="letter-spacing: 1px">@su.StudentNumber</td>
                <td>@su.Org</td>
                <td style="letter-spacing: 2px">@su.Password</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="text-right">
        <form class="mt-3" action="/Contest/@Model.ContestId/SignUp/List/Export" id="contest-sign-up-export-form">
            <div class="mt-3" style="color: #8c8c8c; font-family: Consolas, Monaco, 'Andale Mono', monospace">
                Result Count: @(Model.SignUps.Count())
                <button type="button" class="btn btn-primary ml-3" style="letter-spacing: 2px" id="contest-sign-up-export"> 导出 </button>
            </div>
        </form>
    </div>
</div>

