﻿@model acmManager.Contest.Dto.GetContestOutput

@section styles
{
    <link rel="stylesheet" href="~/editor.md/css/editormd.min.css">
    <link rel="stylesheet" href="~/view-resources/Views/Contest/CreateContest.css">
    <link rel="stylesheet" href="~/css/editor.css">
}
@section scripts
{
    <script src="~/editor.md/editormd.min.js"></script>
    <script src="~/js/editor.js"></script>
    <script src="~/view-resources/Views/Contest/CreateContest.js"></script>
}

<div class="content-container">
    <div class="card">
        <div class="card-header noSelect">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#contest-setting">
                    比赛设置
                </button>
            </h5>
        </div>
        <div class="collapse show" id="contest-setting">
            <div class="card-body">
                @await Html.PartialAsync("_CreateContestSetting")
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header noSelect">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#contest-description-card">
                    比赛介绍
                </button>
            </h5>
        </div>
        <div class="collapse show" id="contest-description-card">
            <div class="card-body">
                <div id="contest-description">
                    <textarea hidden>@(Model?.Description.Content ?? "\n\n\n\n\n")</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right col pr-0 mt-3">
        <form asp-action=@(Model == null ? "CreateContest" : "UpdateContest") method="post" id="create-contest-form">
            @if (Model != null)
            {
                <input type="hidden" name="Id" value="@Model.Id"/>
            }
            <input type="hidden" name="Name"/>
            <input type="hidden" name="DescriptionTitle"/>
            <input type="hidden" name="DescriptionContent"/>
            <input type="hidden" name="SignUpStartTime"/>
            <input type="hidden" name="SignUpEndTime"/>
            <input type="button" class="btn btn-primary" id="create-contest-submit-btn" value="@L("Submit")">
        </form>
    </div>
</div>
