@using acmManager.Web.Models.Admin
@model IndexViewModel

<nav aria-label="Page navigation pagination" class="overflow-auto">
    @{
        var filter = Model.CurrentUserFilter ?? new GetAllUserWithFilterViewModel();
        var index = filter.SkipCount / filter.MaxResultCount + 1;
        var indexStart = Math.Max(1, index - 3);
    }
    <ul class="pagination justify-content-end mt-3 mr-0">
        <li class="page-item"><a class="page-link page-first" href="#">First</a></li>
        <li class="page-item @(index == 1 ? "disabled" : "")"><a class="page-link page-previous" href="#">Previous</a></li>
        @foreach (var i in Enumerable.Range(indexStart, 7))
        {
            @if (i == index)
            {
                <li class="page-item active"><a class="page-link" href="#">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link page-index" href="#">@i</a></li>
            }
        }
        <li class="page-item"><a class="page-link page-next" href="#">Next</a></li>
    </ul>
</nav>

