@model acmManager.Web.Models.Admin.IndexViewModel

<div class="row">
    <div class="col-lg-3 userCard">
        <div class="wizard">
            <nav class="list-group list-group-flush">
                <a class="list-group-item active" href="#user-management" data-toggle="pill">
                    <img src="~/img/profile.svg" alt=""> 用户管理
                </a>
                <a class="list-group-item" href="#profile-settings" data-toggle="pill">
                    <img src="~/img/settings.svg" alt=""> Nothing Yet
                </a>
                <a class="list-group-item" href="#profile-change-password" data-toggle="pill">
                    <img src="~/img/edit.svg" alt=""> Nothing Yet
                </a>
            </nav>
        </div>
    </div>
    <div class="col-lg-9 tab-content">
        <!-- User Management -->
        <div class="tab-pane fade show active" id="user-management" style="padding-top: 10px">
            @await Html.PartialAsync("User/_UserFilter")
            <div id="get-all-user-table"> </div>
        </div>

        <!-- Settings -->
        <div class="tab-pane fade" id="profile-settings">
        </div>

        <!-- Change Password-->
        <div class="tab-pane fade" id="profile-change-password">
        </div>
    </div>
</div>