@section styles
{
    <link href="~/view-resources/Views/Users/Profile.css" rel="stylesheet"/>
    <link href="~/view-resources/Views/Admin/Admin.css" rel="stylesheet"/>
    <link href="~/view-resources/Views/Certificate/Certificate.css" rel="stylesheet"/>
}
@section scripts
{
    <script src="~/view-resources/Views/Admin/Admin.js" type="application/javascript"></script>
    <script src="~/view-resources/Views/Admin/Certificate.js" type="application/javascript"></script>
}
<div class="content-container">
    @await Html.PartialAsync("_Sidebar")
</div>
