@section styles
{
    <environment name="Development">
        <link href="~/view-resources/Views/Users/Profile.css" rel="stylesheet"/>
        <link href="~/view-resources/Views/Admin/Admin.css" rel="stylesheet"/>
    </environment>
}
@section scripts
{
    <environment name="Development">
        <script src="~/view-resources/Views/Admin/Admin.js" type="application/javascript"></script>
        <script src="~/view-resources/Views/Admin/Certificate.js" type="application/javascript"></script>
    </environment>
}
<div class="content-container">
    @await Html.PartialAsync("_Sidebar")
</div>
