@model acmManager.Problem.Dto.GetSolutionOutput

<div class="card mt-3">
    <div class="card-header noSelect" style="padding: 2px; background-color: unset">
        <h5 class="mb-0">
            <button class="btn collapsed" data-target="#solution-card" data-toggle="collapse">
                @L("Solution")
            </button>
        </h5>
    </div>
    
    <div class="collapse show" id="solution-card">
        <div class="card-body">
            <div id="solution-content"> <textarea hidden>@Model.SolutionContent</textarea> </div>
        </div>
    </div>
</div>


