@model acmManager.Problem.Dto.GetSolutionOutput
@section styles
{
    <link rel="stylesheet" href="~/editor.md/css/editormd.min.css">
    <link rel="stylesheet" href="~/css/editor.css">
    <link rel="stylesheet" href="~/view-resources/Views/Problem/Edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

}
@section scripts
{
    <script src="~/editor.md/editormd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    
    <environment include="Development">
        <script src="~/js/editor.js"></script>
        <script src="~/view-resources/Views/Problem/Edit.js"></script>
    </environment>
    
    <environment exclude="Development">
        <script src="~/view-resources/Views/_Bundles/editor.min.js"></script>
        <script src="~/view-resources/Views/_Bundles/problem.edit.min.js"></script>
    </environment>
}

<div class="content-container">
    <form asp-action=@(Model == null ? "Create" : "Update") method="post" id="edit-problem-solution-form">
        <div class="card">
            <div class="card-header noSelect">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#problem-problem-card">
                        <strong style="font-size: 25px">
                            题目信息
                        </strong>
                    </button>
                </h5>
            </div>
            <div class="collapse show" id="problem-problem-card">
                <div class="card-body">
                    @await Html.PartialAsync("_ProblemInfoInput")
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header noSelect">
                <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#problem-solution-card">
                        <strong style="font-size: 25px">
                            题解
                        </strong>
                    </button>
                </h5>
            </div>
            <div class="collapse show" id="problem-solution-card">
                <div class="card-body">
                    @await Html.PartialAsync("_ProblemSolutionInput")
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="text-right col">
                @if (Model != null)
                {
                    <button class="btn btn-danger mr-2"
                            type="button"
                            style="letter-spacing: 2px"
                            data-toggle="modal"
                            data-target="#delete-solution"> 删除 </button>
                    <input type="hidden" name="Id" value="@Model.Id"/>
                }
                <input type="button" class="btn btn-primary" id="edit-problem-solution-submit-btn" value="@L("Submit")">
            </div>
        </div>
    </form>
</div>

@if (Model != null)
{
    <!-- Delete Solution Modal -->
    <div class="modal fade" id="delete-solution">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <strong style="letter-spacing: 2px">
                            你确定吗
                        </strong>
                    </h5>
                </div>
                <div class="modal-body"> 此操作不可逆 ！！ </div>
                <form asp-action="DeleteSolution" method="post">
                    <input type="hidden" name="Id" value="@Model.Id">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="letter-spacing: 2px">取消</button>
                        <button type="submit" class="btn btn-danger btn-ok" style="letter-spacing: 2px">确认</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
