@model acmManager.Web.Models.Problem.IndexViewModel

@section styles
{
    <environment include="Development">
        <link href="~/view-resources/Views/Problem/Solution.css" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <link href="~/view-resources/Views/_Bundles/solution.min.css" rel="stylesheet">
    </environment>
}

@section scripts
{
    <environment include="Development">
        <script src="~/view-resources/Views/Problem/Index.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/view-resources/Views/_Bundles/solution.index.min.js"></script>
    </environment>
}

@{
    ViewBag.Title = "Solution";
}

<div class="content-container">
    @await Html.PartialAsync("_SolutionTable")
</div>
