@model acmManager.Web.Models.Home.HomeViewModel
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">acmManager</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">题目推荐</a> <span>|</span>
        <a class="p-2 text-dark" href="#">公告</a> <span>|</span>
        <a class="p-2 text-dark" href="#">比赛列表</a> <span>|</span>
        <a class="p-2 text-dark" href="#">博客</a> <span>|</span>
    </nav>
    @if (Model.PhotoUrl != null)
    {
        <img src="@Model.PhotoUrl" alt="" class="userPhoto">
    }
    else
    {
        <img src="~/img/defaultUserImage.png" alt="" class="userPhoto"/>
    }
</div>