﻿@using Abp.Web.Security.AntiForgery
@using acmManager.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "acmManager";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
@await Html.PartialAsync("Layout/Header/_Header")
<div class="page-container">
    <div class="content-wrapper">
        @RenderBody()
    </div>
</div>
@await Html.PartialAsync("_Footer.cshtml")
@await Html.PartialAsync("_Scripts.cshtml")
@await RenderSectionAsync("scripts", required: false)
@WebResourceManager.RenderScripts()
</body>
</html>
