﻿<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/view-resources/Views/Shared/Header.css" rel="stylesheet"/>
<link href="~/view-resources/Views/Shared/Footer.css" rel="stylesheet"/>
<link href="~/view-resources/Views/Shared/Layout.css" rel="stylesheet"/>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>