@model acmManager.Web.Models.Account.LoginFormViewModel

<div id="LoginForm" class="formContent">
    <div style="height: 25px"></div>
    <div class="fadeIn first" style="margin-bottom: 10px">
        <img src="~/img/NWPU.png" alt="User Icon" style="height: 40px; width: 40px"/>
        <h2 class="active"> Login </h2>
    </div>

    <div class="alert alert-danger" role="alert" style="display: none">
        <strong>Error!</strong>
        <p class="ErrorMessage"/>
    </div>
    
    <div style="height: 15px"></div>

    <!-- Login Form -->
    <form method="post" asp-action="Login">
        <input type="text" id="login" class="fadeIn second" name="Username" placeholder="账号">
        <input type="password" id="password" class="fadeIn third" name="Password" placeholder="密码">
        <input type="hidden" name="RememberMe" value="true">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div style="height: 25px"></div>
        <input type="button" class="fadeIn fourth" id="Login" value="Login">
    </form>

    <div class="formFooter">
        <p style="text-align: center; font-weight: 600; color: #5a6268; margin-bottom: 5px">
            Don't have an account? <a id="SignUpLink" class="underlineHover" href="#" style="margin-left: 10px">Register</a>
        </p>
        @* <a class="underlineHover" href="#">Forgot Password?</a> *@
    </div>
</div>
