@using Abp.Authorization.Users
@model acmManager.Web.Models.Account.LoginFormViewModel
@{
    ViewBag.Title = L("LogIn");
}
@section styles
{
    <environment name="Development">
        <link href="~/view-resources/Views/Account/Login.css" rel="stylesheet"/>
    </environment>
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div style="height: 25px"></div>
        <div class="fadeIn first" style="margin-bottom: 10px">
            <img src="~/img/NWPU.png" id="icon" alt="User Icon" style="height: 35px; width: 35px"/>
            <h2 class="active"> @ViewBag.Title </h2>
        </div>
        
        <div style="height: 25px"></div>

        <!-- Login Form -->
        <form method="post" asp-action="Login">
            <input type="text" id="login" class="fadeIn second" name="Username" placeholder="username">
            <input type="password" id="password" class="fadeIn third" name="Password" placeholder="password">
            <input type="hidden" name="RememberMe" value="true">
            <div style="height: 25px"></div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <p style="text-align: center; font-weight: 600; color: #5a6268; margin-bottom: 5px">
                Don't have an account? <a class="underlineHover" href="#" style="margin-left: 10px">Sign Up</a>
            </p>
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>
