@{
    ViewBag.Title = "Account";
}
@section styles
{
    <environment name="Development">
        <link href="~/view-resources/Views/Account/Login.css" rel="stylesheet"/>
    </environment>
}
@section scripts
{
    <environment name="Development">
        <script type="application/javascript">
            LoginEvent('@Url.Action("Login")');
            RegisterEvent('@Url.Action("Register")');
        </script>
    </environment>
}
<div class="wrapper fadeInDown">
    @await Html.PartialAsync("_Login")
    @await Html.PartialAsync("_Register")
</div>
