﻿@{
    ViewBag.Title = "Account";
}
@section styles
{
    <link href="~/view-resources/Views/Account/Login.css" rel="stylesheet"/>
}
@section scripts
{
    <script type="application/javascript">
        LoginEvent('@Url.Action("Login")');
        RegisterEvent('@Url.Action("Register")');
    </script>
}
<div class="wrapper fadeInDown">
    @await Html.PartialAsync("_Login")
    @await Html.PartialAsync("_Register")
</div>
