@section styles
{
    <link rel="stylesheet" href="~/view-resources/Views/Certificate/Certificate.css"/>
}
@section scripts
{
    <script src="~/view-resources/Views/Certificate/Certificate.js"></script>
}

<div class="content-container">
    @await Html.PartialAsync("_CertificateTable")
</div>

