@section styles
{
    <environment include="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Certificate/Certificate.css"/>
    </environment>
    <environment exclude="Development">
        <link href="~/view-resources/Views/_Bundles/certificate.min.css" rel="stylesheet"/>
    </environment>
}
@section scripts
{
    <environment include="Development">
        <script src="~/view-resources/Views/Certificate/Certificate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/view-resources/Views/Certificate/Certificate.js"></script>
    </environment>
}

<div class="content-container">
    @await Html.PartialAsync("_CertificateTable")
</div>

