.input-group-text {
    min-width: 100px;
}

.table {
    margin-bottom: 0;
}

.table td, .table th {
    vertical-align: unset;
}

.row hr {
    margin: 0;
}

.btn-success {
    margin: 15px 0;
}

#certificate-management .custom-select[multiple] {
    min-height: 240px;
}