<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" onclick="location.href = '/'">acmManager</h5>
    @await Html.PartialAsync("Layout/Header/_NavItems")
    @if (AbpSession.UserId != null)
    {
        @await Html.PartialAsync("Layout/Header/_UserMenu")
    }
</div>