@using acmManager.Authorization
@using acmManager.File
@using acmManager.Web.Controllers
@using Abp.Runtime.Session
@inject FileAppService FileAppService
@{
    var userPhoto = (await FileAppService.GetUserPhotoAsync(AbpSession.GetUserId()))?.FilePath ?? UserController.DefaultUserPhoto;
}

<div class="dropdown">
    <button class="btn btn-default" type="button" id="menu1" data-toggle="dropdown">
        <img src="@userPhoto" alt="" class="userPhoto">
    </button>
    <div class="dropdown-menu dropdown-menu-right noSelect" role="menu" aria-labelledby="menu1">
        <button class="dropdown-item" onclick="window.location.href = '@Url.Action("UserProfile", "User")'">
            <img src="~/img/profile.svg" alt=""> 我的资料
        </button>
        <button class="dropdown-item disabled">
            <img src="~/img/home.svg" alt=""> 我的主页
        </button>
        <button class="dropdown-item disabled">
            <img src="~/img/blog.svg" alt=""> 我的博客
        </button>
        <button class="dropdown-item disabled">
            <img src="~/img/contest.svg" alt=""> 我的比赛
        </button>
        @if (IsGranted(PermissionNames.PagesUsers_Certificate))
        {
            <button class="dropdown-item" onclick="window.location.href = '@Url.Action("Index", "Certificate")'">
                <img src="~/img/certificate.svg" alt=""> 我的证书
            </button>
        }
        <hr/>
        <button class="dropdown-item" onclick="window.location.replace('@Url.Action("Logout", "Account")')">
            <img src="~/img/logout.svg" alt=""> 登出
        </button>
    </div>
</div>
