﻿.page-container {
    position: relative;
    min-height: 83vh;
}

.content-wrapper {
    max-width: 80%;
    margin: auto;
}

.content-container {
    box-shadow: 0 0 20px -7px rgba(0,0,0,0.3);
    border-radius: 13px;
    padding: 20px 50px;
    margin: auto auto 20px;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}