/* container */
.page-container {
    position: relative;
    min-height: 83vh;
}

.content-wrapper {
    max-width: 95%;
    margin: auto;
}

.content-container {
    box-shadow: 0 0 20px -7px rgba(0,0,0,0.3);
    border-radius: 13px;
    padding: 20px 10px;
    margin: auto auto 20px;
}

@media only screen and (min-width: 800px) {
    .content-wrapper {
        max-width: 80%;
        padding: 20px 50px;
    }
}

/* common style */
.text-overflow {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sub-text {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

.vertical-center {
    vertical-align: middle !important;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* scrollbar style (webkit) */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    background: #efefef;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

/* underline animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

a.underlineHover {
    display: inline-block;
    color: unset;
}

a.underlineHover:hover {
    text-decoration: none;
}

.type-tag {
    font-size: 15px;
    font-style: italic;
}

.replay-tag {
    font-size: 15px;
    letter-spacing: 2px;
}

/*fontawesome vertical center*/ 
.fa-vc {
    line-height: inherit!important;
}

/*font-size*/
.fs-15 {
    font-size: 15px!important;
}

/*disable hover*/
nav>a:hover {
    text-decoration: none;
}
a.no-hover-line:hover {
    text-decoration: none;
}

/*canvas */
canvas {
    height: 100%;
    width: 100%;
}