@model acmManager.Web.Models.Users.UserProfileViewModel
@section styles
{
    <link href="~/view-resources/Views/Users/Profile.css" rel="stylesheet"/>
    <link href="~/css/cropper.min.css" rel="stylesheet">
}
@section scripts
{
    <script type="text/javascript" src="~/js/cropper.min.js"></script>
    <script src="~/view-resources/Views/Users/Profile.js" type="application/javascript"></script>
    <script type="application/javascript">
        updateProfileEvent();
        selectFileEvent();
        InitCropper();
        clickUserPhotoEvent();
        changePasswordEvent();
        changeUserTypeEvent();
        updateFromAoxiangEvent();
    </script>
}
<div class="content-container" style="max-width: 1300px">
    @await Html.PartialAsync("_Sidebar")
</div>