﻿@using acmManager.Users
@model acmManager.Web.Models.Admin.GetAllCertificateViewModel
@inject UserAppService UserAppService

<div class="overflow-auto mt-3 get-all-certificate">
    <table class="table table-hover" id="certificate-table">
        <thead><tr>
            <th scope="col">所属者</th>
            <th scope="col">@L("Certificate.Name")</th>
            <th scope="col">@L("Certificate.Level")</th>
            <th scope="col">@L("Certificate.AwardDate")</th>
            <th scope="col">@L("Certificate.Attachment")</th>
            <th scope="col">@L("Certificate.Delete")</th>
        </tr></thead>
        <tbody>
        @foreach (var cer in Model.Certificates.Certificates)
        {
            <tr>
                <th scope="row">
                    <button class="btn btn-block" onclick="location.href = '@Url.Action("GetUserProfile")?userId=@cer.CreatorUserId'">
                        <strong>
                            @((await UserAppService.GetUserInfoAsync(cer.CreatorUserId)).Name)
                        </strong>
                    </button>
                </th>
                <th scope="row">@cer.Name</th>
                <td>@L(cer.Level.ToString())</td>
                <td>@cer.AwardDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <button class="btn btn-block" onclick="location.href = '@cer.File.FilePath'">
                        <img class="custom-icon" src="~/img/download.svg" alt=""/>
                    </button>
                </td>
                <td>
                    <button class="btn btn-block delete-certificate-btn" data-toggle="modal" data-target="#delete-certificate-modal" id="certificate-@cer.Id">
                        <img class="custom-icon" src="~/img/delete.svg" alt=""/>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr/>
    @await Html.PartialAsync("Certificate/_Pagination")
</div>

<div class="modal fade" id="delete-certificate-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <strong style="letter-spacing: 2px"> 你确定吗 </strong>
                </h5>
            </div>
            <div class="modal-body text-center"> 此操作不可逆 ！！ </div>
            <form asp-action="DeleteCertificate" method="post">
                <input type="hidden" name="CertificateId" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="letter-spacing: 2px">取消</button>
                    <button type="button" class="btn btn-danger btn-ok delete-certificate-submit" style="letter-spacing: 2px">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
